header{
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
body{
    background-color: rgb(190, 225, 255);
}
footer{
    text-align: center;
}