header{
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
body{
    background-color: rgb(190, 225, 255);
}
.nav{
    background-color: aqua;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.dolt{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
h2{
    text-align: center;
}
table{
    background-color: rgb(198, 255, 255);
}