header{
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
.teglalap{
    width: 240px;
    height: 400px;
}
.kep{
    width: 600px;
    height: 400px;
}
img{
    padding: 10px;
}
body{
    background-color: rgb(190, 225, 255);
}